@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single+Ink:wght@100..900&family=Bitcount+Single:wght@100..900&family=Libertinus+Keyboard&family=Orbitron:wght@400..900&family=Outfit:wght@100..900&family=Poppins&family=Prata&display=swap');


@import "tailwindcss";

/* Base styles (important so Tailwind doesn't override font) */
@layer base {
  body {
    font-family: "Outfit", sans-serif;
  }
}

/* Form elements */
select,
input,
textarea {
  border: 1px solid #c2c2c2;
  outline-color: #C586A5;
  border-radius: 4px;
}

/* Active state */
.active {
  background-color: #ffebff;
  border-color: #C586A5;
}
















































/* *{
  font-family: "Outfit", sans-serif;
  
}

select,input,textarea{
  border: 1px solid #c2c2c2;
  outline: #C586A5;
  border-radius: 4px;
}

.active{
    background-color: #ffebff;
    border-color: #C586A5;

} */